.clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.clients-list {
    display: flex;
    gap: 30px;
}
.clients-list__card {
    width: 170px;
    height: 92px;
}
.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
    transition: color var(--anim-speed), border-color var(--anim-speed);
    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}
.clients-list__icon {
    fill: currentColor;
}
