.clients__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: calc(42 / 36);
        margin-bottom: 50px;
    }
}
.clients-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
    transition: color var(--anim-speed), border-color var(--anim-speed);
    @media screen and (min-width: 768px) {
        width: 226px;
    }
    @media screen and (min-width: 1200px) {
        width: 170px;
    }
    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}
.clients-list__icon {
    fill: currentColor;
}
