.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--dark-bg-color);
}

.page-footer__title {
    margin-bottom: 20px;

    color: var(--white-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: calc(16 / 14);
}

// Головний блок
.main-block {
    min-width: 231px;
    margin-right: 70px;
}
.footer-address {
    margin-top: 20px;
}
.foot-contacts__item {
    display: block;
}

.foot-contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.foot-contacts__link {
    display: inline-block;
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.6;
    transition: opacity var(--anim-speed);
    &:hover,
    &:focus {
        opacity: 1;
    }
}

/* Приєднуйся */
.join-in-block {
    margin-right: 93px;
}

/* Підпишись */
.subscribe-block__form {
    display: flex;
    gap: 12px;
}

.subscribe-block__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    &::placeholder {
        font-size: 16px;
        line-height: calc(20 / 16);
        color: rgba(255, 255, 255, 0.6);
    }
}
