.nav-menu {
    display: flex;
    margin-left: 91px;
    gap: 50px;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.nav-menu__link {
    display: inline-flex;
    position: relative;

    padding-bottom: 32px;
    padding-top: 32px;

    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--anim-speed);

    &:hover,
    &:focus,
    &.current {
        color: var(--accent-color);
    }
    &--current::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        content: '';
        width: calc(100% + 2px);
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }
}
