.services {
    padding-top: 0;
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.services__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
}

.services-list {
    display: flex;
    gap: 30px;
}

.services-list__item {
    display: block;
}
.services-list__wrapper {
    position: relative;
}

.services-list__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(47, 48, 58, 0.8);
}

.services-list__text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--white-color);
}
